<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link  rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
</head>

<body>
    {{>header}}
    <form>
        <input placeholder="location">
        <button>submit</button>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </form>
    {{>footer}}

    <script src="/js/index.js"></script>
</body>

</html>